@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, p, span, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Contenedor wrapper */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #f5bf0b;
}

/* aside */

.aside {
    padding: 2rem;
    padding-right: 0;
    color: #fff;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    /* header */

    .header {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .logo {
        font-weight: 400;
        font-size: 1.4em;
    }

        /* navbar */

        .navbar__ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .navbar__button {
            background-color: transparent;
            border: 0;
            font-size: 1.3em;
            color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: 600;
            padding: .7rem;
        }

        .item--number {
            color: #f5bf0b;
            background-color: #fff;
            padding: .25rem;
            border-radius: .25rem;
        }

        .navbar__cart {
            margin-top: 2rem;
        }

        .navbar__button.active,
        .navbar__cart.active {
            background-color: #fff;
            color: #f5bf0b;
            width: 100%;
            border-radius: 1rem 0 0 1rem;
            position: relative;
        }

        .navbar__cart.active>.item--number {
            background-color: #f5bf0b;
            color: #fff;
        }

        .navbar__button.active::before,
        .navbar__cart.active::before {
            content: '';
            position: absolute;
            width: 1rem;
            height: 2rem;
            bottom: 100%;
            right: 0;
            background-color: transparent;
            border-bottom-right-radius: 1rem;
            box-shadow: 0 1rem 0 #fff;
        }

        .navbar__button.active::after,
        .navbar__cart.active::after {
            content: '';
            position: absolute;
            width: 1rem;
            height: 2rem;
            top: 100%;
            right: 0;
            background-color: transparent;
            border-top-right-radius: 1rem;
            box-shadow: 0 -1rem 0 #fff;
        }



    /* footer */

    .footer {
        color: #c56900;
        font-size: .7em;
    }

/* main */

.main {
    background-color: #fff;
    margin: 1rem;
    margin-left: 0;
    border-radius: 3vh 3vw;
    padding: 2rem;
}

.main__title {
    color: #f5bf0b;
    margin-bottom: 1rem;
    font-size: 2em;
}

 /* main__container */

 .main__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
 }

    /* product */

    .product {
        border-radius: 3vh;
        box-shadow: #6e3b019d 5px 10px 10px;
        background-color: #d1d0d0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .product__image {
        max-width: 70%;
        margin-left: 15%;
        padding: 1.5rem;
    }

    .product__info {
        background-color: #f5bf0b;
        border-radius: 0 0 3vh 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 120px;
    }

    .product__add {
        border: 0;
        border-radius: 1vh;
        background-color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        height: 25%;
        width: 80px;
        cursor: pointer;
    }

    .product__add:hover {
        border: 3px solid #81cf0d;
        box-shadow: #81cf0d inset 1px 1px 8px;
        transition: all .2s;
    }

    .product__add:active {
        background-color: #81cf0d;
        box-shadow: #4c4c4c inset 1px 1px 8px;
        color: #fff;
    }

    /* 49:08 */

    /* Cart Page */

    .main__cart {
        display: flex;
        flex-direction: column;
    }
        /* Title vacio */
        .container__cart--empty,
        .container__cart--buy {
            color: #c56900;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }

        /* Container cart*/

        .main__container--cart {
            display: flex;
            flex-direction: column;
        }

        .products__cart {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        /* Product Cart*/

        .product__cart {
            padding: .75rem;
            padding-right: 1.7rem;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 3vh;

            box-shadow: #6e3b019d 5px 10px 10px;
            color: #000000;
            background-color: #d1d0d0;

        }

        .product__cart--image {
            max-height: 80px;
        }

        .product__cart--empty {
            border: 0;
            background-color: transparent;
            color: #e31515;
            cursor: pointer;
        }

        /* Product cart actions */

        .products__actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        /* Actions Left */

        .product__actions--empty {
            border: 0;
            background-color: #e2e0e0;
            padding: 1rem;
            border-radius: 1rem;
            color: #c56900;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
        }

        /* Actions right*/

        .product__actions--right {
            display: flex;
        }
        
        .product__actions--total {
            border: 0;
            background-color: #e2e0e0;
            padding: 1rem;
            border-radius: 1rem 0 0 1rem;
            color: #c56900;
            text-transform: uppercase;
            font-weight: 600;
        }

        .product__actions--buy {
            border: 0;
            background-color: #c56900;
            padding: 1rem;
            border-radius: 0 1rem 1rem 0;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
        }

/* Disabled */

.disabled {
    display: none;
}